{% extends "app/base.html" %}
{% load static %}
{% block title %}Category{% endblock title%}

{% block content %}

    <div class='container my-5'>
        <div class='row'>
            <div class='col-sm-3'>
                <div class="list-group">
                    {% for val in title %}
                        <a href="#" class='list-group-item list-group-item-section' aria-current='true'>{{ val.title }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-9">
                <div class="row">
                    {% for prod in product %}
                        {% if forloop.counter0|divisibleby:2 %}
                            </div><div class="row">
                        {% endif %}
                        <div class="col mb-4 text-center">
                            <a href="{% url 'product_details' prod.id %}" class="btn">
                                <div>
                                    <img src="{{ prod.product_image.url }}" style="width: 300px; height: 300px;" class="img-fluid" alt="Responsive image">
                                    <div class="fw-bold">{{ prod.title }}</div>
                                    <small><div class="fw-bold text-danger">Rs.{{ prod.discounted_price }}</div></small>
                                    <div class="fw-bold">RS.{{ prod.selling_price }}</div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            
            


        </div>
    </div>
            
                    
{% endblock content%}

