{% extends "app/base.html" %}
{% load static %}
{% block title %}Password Reset Done{% endblock title%}

{% block content%} 

<div class = 'container'>
    <div class = 'row my-3'>
        <div class = 'col-sm-12 offset-sm-2'>
            <h1> Password Reset Done</h1>
            <br>
            <h3 class='alert-heading'>Well Done</h3>
                <p> An Email has been send with instuction to reset your password <b>Please check Email.</b><p>
    
        </div>
    </div>
</div>

{% endblock content %}