{% extends "app/base.html" %}
{% load static %}
{% block title %}Password Change Done{% endblock title%}

{% block content%} 

<div class = 'container'>
    <div class = 'row my-3'>
        <div class = 'col-sm-12 offset-sm-2'>
            <h1> Password Change Successfully</h1>
            <br>
            <div>
                <iframe src='https://giphy.com/embed/ibolLe3mOqHE3PQTtk' width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
        </div>
    </div>
</div>

{% endblock content %}